// mobile
.container {
    min-height: 100vh;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--background);

    .button_analytics{
        display: none;
        //display: flex;
        flex-direction: row;

            button{
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
                
                width: 100%;
                height: 5vh;
        
                border-radius: 10px;
                border: none;
                outline: none;
                background-color: #27ae60;
                color: #000;
                transition: ease-out .2s;

            }
            button:hover{
                background-color: #2ecc71;
                color: #1e272e;
                transform:  scale(1.1);
                              
            }
            
        

    }


    .card{
        display: flex;  
        flex-direction: column;
        //Imagem
        .imagem{
            width:100%;
            height:9rem;
            background-blend-mode: multiply ;
            background: var(--violot_accent) url('/image_mobile.jpg');
            background-size: cover;

        } 
        //Card de baixo
        .botton_card{
            background-color: var(--background_card);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            padding: 0 1rem;

            // TExtos H3 3 P
            .text{
                color: var(--white);
                
                h3{
                    font-size: 28px;
                    b{
                        color: var(--violot_accent);
                    }
                }

                p{
                    font-size: 13px;
                }

            }
            // Infos abaixo dos textos
            .information{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-evenly;

                margin-top: 1rem;

                align-items: center;

                color: var(--white);
                text-transform: uppercase;
                font-size: 1rem;


                .cards_infos{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: .1rem .5rem;
                    margin-bottom: 1rem;
                    font-weight: bolder;


                    span{
                        font-weight: bold;
                        font-size: 1.3rem;
                        margin-bottom: -.5rem;
                    }
                }            
            }
        }

    }
}
// @media min-width: 576px
@media (min-width: 576px) {
    .container {
        .card{
            //Imagem
            .imagem{
                min-height:10rem;
            } 
            //Card de baixo
            .botton_card{
                // Infos abaixo dos textos
                .information{
                    display: flex;
                    flex-direction: row;      
                }
            }
        
        }
    }
}
// @media min-width: 768px
@media (min-width: 768px) {
    .container {
        .card{
            display: flex;
            flex-direction: row-reverse;
            min-height: 70vh;
            min-width: 80%;
            
            //Imagem
            .imagem{
                width:100%;
                min-height:79vh;
                background-repeat: no-repeat;
            } 
            //Card de baixo
            .botton_card{
                display: flex;
                justify-content: start;

                padding: 0 1.5rem;
        
                
                // TExtos H3 3 P
                .text{                    
                    h3{ font-size: 35px;
                        b{
                            color: var(--violot_accent);
                        }
                    }
                    p { font-size: 18px;}
        
                }
            }
        }
    }
}

// @media min-width: 1200px
@media (min-width: 1200px){
    .container{
        padding: 0 4rem;

        background-color: var(--background  );
        .card{
            .botton_card{
                .text{
                    color: var(--white);
                    
                    h3{
                        font-size: 3.5rem;
                        b{
                            color: var(--violot_accent);
                        }
                    }
    
                    p{
                        font-size: 1.7rem;
                    }
    
                }
                .information{
                    font-size: 1.4rem;

                    .cards_infos{
                        span{
                            font-size: 1.9rem;
                            margin-bottom: -.6rem;
                        }
                    }
                }
            }
        }
    }
}